html {
    --text-color-normal:hsl(0, 0%, 0%);
    --menuhover: hsl(0, 0%, 87%);
    --video-container-background: hsla(196, 100%, 97%, 0.829);
    --grid-section-background: hsl(0, 0%, 100%);
    --upperbg: hsl(0, 0%, 99%);
    --lowerbg: hsl(224, 46%, 74%);

    --header-height: 80px;


}


html[data-theme="dark"] {
    --lowerbg:hsl(222, 81%, 15%);
}

/*Variables need organising...later*/

.blink{
    font-weight: 400;
	animation:blink 2s steps(2, end) infinite
}

/* colour codes for later

#061843
#000102
*/
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes blink{
	0%{
		opacity: 0
}
	100%{
		opacity: 0.7;}
}

body {
    font-family: 'Saira', 'sans-serif';
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: box-shadow 250ms linear;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 15px;
    height: var(--header-height);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header .menu-title {
    font-size: 30px;
    color: var(--text-color-normal);
    line-height: var(--header-height);
}

header nav {
    display: flex;
}

header nav .ur-link {
    color: var(--text-color-normal);
    line-height: var(--header-height);
    padding: 0 10px;
    cursor: pointer;
} 

header nav .ur-link:hover {
    background-color: var(--menuhover);

}

section {
    position: sticky;
    top: 0px;
    height: 100vh;
    padding: 80px 25px;
  }

  .video--section {
    width: 100%;
    padding: calc(var(--header-height)*0.7) 25px 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--upperbg) 12%, var(--lowerbg) 12%);
  }

.video--section .video {
    width: 100%;
    max-width: 300px;
}

.video--section .video img {
    width: 100%;
}

.video--section .content {
    width: 100%;
    max-width: 60%;
}

.video--section .content-video-container {
    width: 100%;;
    height: 200px;
    margin: auto;
    background-color: var(--video-container-background);
    border-radius: 25px;
}

.grid--section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grid-section-background);
    padding-bottom: 0px;
  }
  
  .grid--section .content {
    flex: 1;
    width: 100%;
    max-width: 800;
    padding: 0px 15px;
  }

.mb-1 {
    margin-bottom: 10px;
}