* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Standard variables */
:root {
    font-family: 'Saira', 'sarif';
    --header-height: 70px;
    --header-image-width: 270px;

    --menu-top-all: hsl(0, 0%, 0%);
    --menu-right-hover: hsl(197, 40%, 88%);
    --upperbg: hsl(194, 46%, 93%);
    --lowerbg: hsl(224, 46%, 74%);
    --video-container-background: hsl(194, 46%, 93%);
    --grid-section-background: hsl(196, 100%, 97%);
}

/* Themes that will be inserted to body */
.dark {
    --menu-top-all: hsl(0, 0%, 100%);
    --menu-right-hover: hsl(224, 43%, 23%);
    --upperbg: hsl(200, 6%, 10%);
    --lowerbg: hsl(224, 43%, 23%);
    --video-container-background: hsl(184, 50%, 31%);
    --grid-section-background: hsl(196, 48%, 26%);
}


/* ---------------------- THEMES AND VARIABLES END HERE-------------- */

/*blink*/
.blink{
    font-weight: 400;
	animation:blink 2s steps(2, end) infinite
} 

@keyframes blink{
	0%{
		opacity: 0
}
	100%{
		opacity: 0.7;}
}
/*Stare*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--upperbg);
    z-index: 1;
    height: var(--header-height);
    transition: all 350ms linear;
}

header .header-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

header .header-wrapper .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    max-width: 750px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    height: var(--header-height);
}

header .header-image-container {
    position: relative;
    max-width: var(--header-image-width);
    width: 100%;    
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    z-index: 0;
    top: 5px;
}

header .header-image-container img {
    position: relative;
    width: 100%;
    z-index: 0;
}

header .header-wrapper .header-content .menu-brand {
    font-size: 20px;
    color: var(--menu-top-all);
    line-height: var(--header-height);
    align-items: center;
}

/*
header .header-wrapper .header-content .menu-brand.h3 {
}
*/

header .header.content nav {
    position: relative;
    display: flex;
    align-items: center;
}

header .header-content nav .menu-link {
    position: relative;
    color: var(--menu-top-all);
    line-height: var(--header-height);
    padding: 0 4px;
    cursor: pointer;
    z-index: 1;
} 

header .header-content nav .menu-link:hover {
    background-color: var(--menu-right-hover);
}

@media screen and (max-width: 550px) {
    .translate {
      transform: translateY(22px);
      transition: 400ms ease-in;
    }
  }

  @media screen and (min-width: 550px) {
    .translate {
      transform: none;
      transition: 400ms ease-in;
    }
  } 

  @media screen and (max-width: 550px) {
    .content-video-container {
      transform: translateY(20px);
      transition: 400ms ease-in;
    }
  }

  @media screen and (min-width: 550px) {
    .content-video-container {
      transform: none;
      transition: 400ms ease-in;
    }
  } 


  @media screen and (min-width: 350px) {
    .menu-brand h3 {
        transform: scale(1.5) translateX(20px);
        transition: 400ms ease-in-out;
    }
  } 

  @media screen and (max-width: 350px) {
    .menu-brand h3 {
        transform: none;
        transition: 400ms ease-in-out;
    }
  } 

/* ---------------------- SECTIONS FROM HERE-------------- */

section {
    position: sticky;
    top: 0px;
    height: 100vh;
    padding: 80px 25px;
  }

  .video-section {
    width: 100%;
    padding: calc(20px + var(--header-height)) 25px 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: var(--lowerbg);
    transition: ease-in 200ms;
  }

.video-section .video {
    width: 100%;
    max-width: 300px;
}

.video-section .content {
    width: 100%;
    max-width: 750px;
}

.video-section .content-video-container {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: auto;
    background: var(--video-container-background);
    transition: ease-in 200ms;

    border: solid 5px rgb(0, 0, 0);
    border-top-left-radius: 65px 35px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 25px 51px;
    border-bottom-left-radius: 15px 48px;

}

/* so many containers, sort this soon) */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 95%;
    margin: auto;
    border-radius: 10px;
}
.embed-container iframe, .embed-container object, .embed-container embed {
     position: absolute; 
     top: 0; 
     left: 0; 
     width: 100%; 
     height: 100%;
     border-radius: 10px;
    }
/* so many containers, sort this soon) */


.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grid-section-background);
    padding-bottom: 0px;
    transition: all 200ms linear;
  }
  
  .product-section .content {
    flex: 1;
    width: 100%;
    max-width: 800;
    padding: 0px 15px;
  }

.mb-1 {
    margin-bottom: 10px;
}

